body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6;
}

.shadow-soft {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
